<?xml version="1.0"?>
<configuration>
  <appSettings>

    <add key="ServerIP" value ="172.31.0.42"/>
    <add key="ServerPort" value ="1002"/>
    <add key="ClientIP" value ="172.31.0.17" />
    <add key="ClientPort" value ="1042"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
